body {
    color: rgb(5, 189, 189);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    text-decoration: underline;
    color:  rgb(5, 189, 189)
}

section {
    text-align: center;
}

h4 {
   background: rgb(0, 119, 128);
   margin-left: 38%;
   margin-right: 38%;
}

div {
    font: normal 12pt Arial;
}
